

:root {
    --rosadito: #F4A9CA;
    --dark-rosadito: #75485b;
    --verdito: #A9F5AC;
    --dark-verdito: #7CA07D;
    --dark-verdito-transparent: #7ca07d7e;
    --rosadito-transparent: #dbc0ccef;
    --moradito: #a07ca0;
    --grisito: #B59CA7;
    --verdito-hover: #50f555;
    --rosadito-hover: #df8aaf;
}

header {
    position: fixed;
    top: 0;
}

.contenedorCarrito {
    position: relative;
}

.cuadroCarrito {
    background-color: rgba(255, 255, 255, 0.5);
    width: auto;
    height: auto;
    margin: 8rem 10rem 4rem;
    border-radius: 5px;
    padding: 3rem 5rem 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#productosCarritoC {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;;
    gap: 1rem;
}

.productoCarrito {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    width: 40rem;
    height: 7.5rem;
    justify-content: space-around;
    align-items: center;
    padding: .5rem;
    border-radius: 1rem;
}

@keyframes eliminar {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

img {
    height: 7rem;
    width: 7rem;;
    border-radius: 5px;
}

.nombreYCantidades {
    font-size: 1rem;
}

.nombreYCantidades h3 {
    font-size: 1.2rem;
    width: 15rem;
    transform: translateY(-0.5rem);
}

.totalPladoBTNSprevio {
    font-size: 1rem;
    transform: translate(-19.2rem, 1.5rem);
}

.totalPladoBTNS {
    color: var(--grisito);
    font-size: .9rem;
    transform: translate(-19.2rem, 5px);
}



button:active {
    transform: scale(0.75);
}

.contenedorCarrito button {
    border: none;
    background-color: transparent;
    width: 1.5rem;
    height: 1.5rem;
}

.botonesYNum {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.trash {
    display: flex;
    justify-content: flex-end;
    transform: translate(4.5rem, -.5rem);
}

.trash:active {
    display: flex;
    justify-content: flex-end;
    transform: translate(4.5rem, -.5rem) scale(0.7);
}

.MasoMenos {
    /* opacity: 0; */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    width: 5rem;
    display: flex;
    justify-content: space-around;
    border-radius: 1rem;
    align-items: center;
}

.MasoMenos h4, h5 {
    /* opacity: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-rosadito);
    font-size: 1.5rem;
    transform: translateY(-4px);
    font-weight: 400;
}

#borrarLocalS {
    width: 2rem;
    height: 2rem;
    transform: translate(70%, -1rem);
}

#borrarLocalS:active {
    transform: translate(70, -1rem) scale(0.9);
}

#comprarbtn {
    width: 30rem;
    height: 3rem;
    font-family: 'Protest Riot', sans-serif;
    background-color: var(--dark-verdito);
    border-radius: 50px;
    padding: 1rem;
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin: 2rem auto auto;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}